$cell-size: 2.5em;
$player1: red;
$player2: blue;

.game-container {
	margin: auto;
	padding: 1em;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;

	.game-message {
		text-align: center;
		&, .youAre { margin-bottom: .5em; }
	}

	.game-table {
		user-select: none;
		border: 2px solid black;
		min-width: max-content;
		min-width: -moz-max-content;
		min-width: -webkit-max-content;
	
		&.final {
			border: 0;
			padding: 2em;
		}

		&:not(.final) {
			&.player1 {
				border-color: $player1;
				box-shadow: 0 0 10px $player1;
			}
			&.player2 {
				border-color: $player2;
				box-shadow: 0 0 10px $player2;
			}
		}

		.game-sector {
			display: inline-block;
			border: 2px solid black;
	
			.game-cell {
				display: inline-block;
				width: $cell-size;
				height: $cell-size;
				line-height: $cell-size;
				text-align: center;
				vertical-align: middle;
			
				border: 1px solid black;
				cursor: default;
			
				&.selectable { cursor: pointer; }
				&.player1 { background: $player1; }
				&.player2 { background: $player2; }
			}

			&.final { border-width: 4px; }

			&.final, &.disabled {
				&, .game-cell { cursor: default; }
			}
			
			&.disabled {
				background-color: rgba(0, 0, 0, 0.3);
				.game-cell { opacity: 0.8; }
			}
		}

		&.player1 .game-sector .game-cell.selectable:hover {
			background: rgba($player1, 0.25); 
		}

		&.player2 .game-sector .game-cell.selectable:hover {
			background: rgba($player2, 0.25); 
		}
	}
}

.game-toolbar {
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	margin: auto;
	margin-top: 1em;
}
