@import 'normalize-scss/sass/normalize/import-now';

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


.AppContainer {
	min-height: 100vh;
	// .AppItem { margin: 1em 2em; }
}

.floatingButtons {
	position: absolute !important;
	bottom: 2em;
	right: 2em;

	a, button {
		&.btn { margin-left: 1em; }
		&.btn:only-child { margin-left: 0; }
	}
}